<a href="https://colab.research.google.com/github/stutis28/PythonPractise/blob/master/TimeSeriesData.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
import pandas as pd
from datetime import datetime
import numpy as np

#created a pandas series that logs time every hour from 1st nov 19 to 17 Nov 19
df = pd.date_range(start= '11/01/2019', end ='11/07/2019', freq='H')
df

DatetimeIndex(['2019-11-01 00:00:00', '2019-11-01 01:00:00',
               '2019-11-01 02:00:00', '2019-11-01 03:00:00',
               '2019-11-01 04:00:00', '2019-11-01 05:00:00',
               '2019-11-01 06:00:00', '2019-11-01 07:00:00',
               '2019-11-01 08:00:00', '2019-11-01 09:00:00',
               ...
               '2019-11-06 15:00:00', '2019-11-06 16:00:00',
               '2019-11-06 17:00:00', '2019-11-06 18:00:00',
               '2019-11-06 19:00:00', '2019-11-06 20:00:00',
               '2019-11-06 21:00:00', '2019-11-06 22:00:00',
               '2019-11-06 23:00:00', '2019-11-07 00:00:00'],
              dtype='datetime64[ns]', length=145, freq='H')

In [8]:
len(df)

145

In [9]:
#convert series to data frame and assign column name as Date
df = pd.DataFrame(df,columns =['date'])
#create a new column 'Sales' with random values for sales
df['sales'] = np.random.randint(0,1000, size=(len(df)))
df.head()

                 date  sales
0 2019-11-01 00:00:00    644
1 2019-11-01 01:00:00    230
2 2019-11-01 02:00:00    561
3 2019-11-01 03:00:00    878
4 2019-11-01 04:00:00    821

In [0]:
df = df.set_index('date')

In [11]:
df

                     sales
date
2019-11-01 00:00:00    644
2019-11-01 01:00:00    230
2019-11-01 02:00:00    561
2019-11-01 03:00:00    878
2019-11-01 04:00:00    821
...                    ...
2019-11-06 20:00:00    165
2019-11-06 21:00:00    774
2019-11-06 22:00:00    304
2019-11-06 23:00:00    349
2019-11-07 00:00:00    369

[145 rows x 1 columns]

In [12]:
df.loc['2019/11/01' : '2019/11/02']

                     sales
date
2019-11-01 00:00:00    644
2019-11-01 01:00:00    230
2019-11-01 02:00:00    561
2019-11-01 03:00:00    878
2019-11-01 04:00:00    821
2019-11-01 05:00:00    390
2019-11-01 06:00:00    581
2019-11-01 07:00:00    899
2019-11-01 08:00:00    684
2019-11-01 09:00:00    849
2019-11-01 10:00:00     45
2019-11-01 11:00:00     94
2019-11-01 12:00:00    550
2019-11-01 13:00:00    120
2019-11-01 14:00:00    808
2019-11-01 15:00:00    897
2019-11-01 16:00:00    407
2019-11-01 17:00:00    564
2019-11-01 18:00:00    907
2019-11-01 19:00:00    785
2019-11-01 20:00:00    996
2019-11-01 21:00:00    939
2019-11-01 22:00:00    737
2019-11-01 23:00:00    721
2019-11-02 00:00:00    421
2019-11-02 01:00:00    860
2019-11-02 02:00:00    753
2019-11-02 03:00:00    397
2019-11-02 04:00:00    567
2019-11-02 05:00:00    808
2019-11-02 06:00:00    473
2019-11-02 07:00:00    893
2019-11-02 08:00:00    169
2019-11-02 09:00:00    938
2019-11-02 10:00:00    331
2019-11-02 11:00:00    978
2019-11-02 12:00:00    550
2019-11-02 13:00:00    781
2019-11-02 14:00:00    139
2019-11-02 15:00:00    202
2019-11-02 16:00:00    705
2019-11-02 17:00:00    378
2019-11-02 18:00:00    521
2019-11-02 19:00:00    263
2019-11-02 20:00:00    442
2019-11-02 21:00:00    315
2019-11-02 22:00:00     20
2019-11-02 23:00:00    321

In [21]:
#Downtime Sampling
#can use mean, min, sum, max, median
df.resample('B').sum()

            sales
date
2019-11-01  36589
2019-11-04  10394
2019-11-05  10015
2019-11-06  11873
2019-11-07    369

Parsing Dates

In [22]:
df1 = pd.DataFrame({'year': [2015,2016],
                    'month' : [2,3],
                    'day' : [4,5]})
df1

   year  month  day
0  2015      2    4
1  2016      3    5

In [24]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 3 columns):
year     2 non-null int64
month    2 non-null int64
day      2 non-null int64
dtypes: int64(3)
memory usage: 176.0 bytes

In [25]:
pd.to_datetime(df1)

0   2015-02-04
1   2016-03-05
dtype: datetime64[ns]

In [28]:
pd.to_datetime('20110101',format = '%Y%m%d',errors='ignore')

Timestamp('2011-01-01 00:00:00')